$dark-grey: #282c34;
$pastel-green: #bbfd5f;
$white: white;

@mixin page-view-mixin {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.page-view {
  @include page-view-mixin();

  &:nth-child(even){
    background-color: $white;
    color: $dark-grey;  
    
    .icon-wrapper {
      color: $dark-grey;
    }

    &.footer-section .icon-wrapper:hover {
      color: $white;
      background-color: $dark-grey;
      border-radius: .5rem;
    }
  }

  &:nth-child(odd) {
    background-color: $dark-grey;
    color: $white;  
    
    .icon-wrapper {
      color: $white;
    }

    &.footer-section .icon-wrapper:hover {
      color: $pastel-green;
    }
  }
}

.footer-section {
  @include page-view-mixin();

  min-height: 20vh;
  flex-direction: row;
}

.icon-wrapper {
  padding: .5rem 2rem;
  margin: 0 .3rem;
}